node_modules
.DS_Store
dist

.lock-wscript

build/Release
.dockerignore
Dockerfile
*docker-compose*

logs
*.log

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sln
*.sw*
pids
*.pid
*.seed
.git
.hg
.svn