.index-page-class .navbar {
  position relative;
  color: #fff !important;
  // background: hsla(0,0%,100%,0);
  background: rgba(0, 0, 0, 0.5)
}
.home-blog .hero {
  margin: -3.6rem auto 0px !important;
}
.index-page-class .navbar .links{
  // background: hsla(0,0%,100%,0);
  background: rgba(0, 0, 0, 0.0);
}
.index-page-class .navbar :not(.dropdown-item) {
  --text-color-sub: #fff;
}
.index-page-class .search-box input {
  color: #fff;
}

.index-page-class .icon.outbound{
  color: #fff;
}

.index-page-class .site-name  {
  color: #fff !important;
}

.index-page-class .dropdown-item {
  color: $textColor !important;
}
.index-page-class .dropdown-subitem a {
  color: $textColor;
}

blockquote {
  border-left: 0.25rem solid #b6cd59 !important;
  padding: 0.25rem 1rem 0.25rem 1rem !important;
}

@media (max-width: 720px) {
  .index-page-class .nav-links .dropdown-title .title {
    color: var(--text-color);
  }
}
@media (min-width: 720px) {
  .index-page-class .nav-links .dropdown-title .title {
    color: #fff;
  }
}