.index-page-class .navbar {
  position relative;
  color: #fff !important;
  // background: hsla(0,0%,100%,0);
  background: rgba(0, 0, 0, 0.5)
}
.home-blog .hero {
  margin: -3.6rem auto 0px !important;
}
.index-page-class .navbar .links{
  // background: hsla(0,0%,100%,0);
  background: rgba(0, 0, 0, 0.0);
}
.index-page-class .navbar :not(.dropdown-item) {
  --text-color-sub: #fff;
}
.index-page-class .search-box input {
  color: #fff;
}

.index-page-class .nav-links a, .index-page-class .icon.outbound{
  color: #fff;
}
.index-page-class .site-name  {
  color: #fff !important;
}

.index-page-class .dropdown-item {
  color: $textColor !important;
}
.index-page-class .dropdown-subitem a {
  color: $textColor;
}